

*,
*::before,  /* обнулення*/
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box;
}

a{
    text-decoration: none; /*посилання без декорації*/
}
ul,
li,
ol {
list-style: none; /*сітка без позначок*/
}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body{
    background-color: rgb(232, 247, 250);
}
    


button{  
    margin-left: 50px;
    margin-top: 200px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;/*відстань між літерами*/
    font-size: 18px;
    border-radius: 10px;
    top: 0;
    position: relative;
}
.button_1{
    color: aliceblue;
    background-color: rgb(143, 59, 221);
    box-shadow: 0 5px 0px #3c354a;
    transition-duration: 0.3s;
}
.button_1:hover{
    top:3px;
    color: aliceblue;
    background-color: rgb(46, 164, 223);
    box-shadow: 0 3px 0px #3c354a; 
}
.button_2{
    color: aliceblue;
    width: 200px;
    background-color: rgb(143, 59, 221);
    box-shadow: 0 5px 0px #3c354a;
    transition-duration: 1s;/*швидкість зміни кнопки при наведенні*/  
}
.button_2:hover{
    top:3px;
    width: 400px;
    color: aliceblue;
    background-color: rgb(46, 164, 223);
    box-shadow: 0 3px 0px #3c354a;
    transition-timing-function: ease;
}

.animation_circle_1{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 50px;
    animation-name: circle_1;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;   /*за який час анімація програє*/
}
@keyframes circle_1{
    0%{            /* від...*/
        left: 50px;

    }
    100%{              /*...до*/
        left: 200px;

    }
}
.animation_circle_2{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-name: circle_2;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes circle_2{
    0%{            /* від...*/
        left: 50px;

    }
    100%{              /*...до*/
        left: 200px;

    }
}

.animation_circle_3{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-name: circle_3;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;   /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes circle_3{
    0%{            /* від...*/
        left: 50px;

    }
    100%{              /*...до*/
        left: 200px;

    }
}
.animation_circle_4{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-name: circle_4;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 2s;   /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-iteration-count: 3; /*вказує скільки разів програє анімація*/
}
@keyframes circle_4{
    0%{            /* від...*/
        left: 50px;

    }
    100%{              /*...до*/
        left: 300px;

    }
}

.animation_circle_5{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-name: circle_5;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*вказує скільки разів програє анімація - безкінечно*/
}
@keyframes circle_5{
    0%{            /* від...*/
        left: 50px;
    }
    50%{
        border-radius: 0%;
    }
    100%{              /*...до*/
        left: 300px;

    }
}
.animation_circle_6{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-name: circle_6;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*вказує скільки разів програє анімація - безкінечно*/
    animation-direction: alternate; /* не перестрибне, а програє назад, як пінг-понг*/
}
@keyframes circle_6{
    0%{            /* від...*/
        left: 100px;
    }
    50%{
        border-radius: 0%;
    }
    100%{              /*...до*/
        left: 300px;

    }
}
.animation_circle_7{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    animation-name: circle_7;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*вказує скільки разів програє анімація - безкінечно*/
    animation-direction: alternate; /* не перестрибне, а програє назад, як пінг-понг*/
}
.animation_circle_7:hover{
    animation-play-state: paused; /*при наведенні мишкою - зупиниться*/
}
@keyframes circle_7{
    0%{            /* від...*/
        left: 50px;
    }
    50%{
        border-radius: 0%;
    }
    100%{              /*...до*/
        left: 300px;

    }
}

.animation_circle_8{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: circle_8;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*вказує скільки разів програє анімація - безкінечно*/
    animation-direction: alternate; /* не перестрибне, а програє назад, як пінг-понг*/
    animation-delay: 2s;  /* запускає через 2 сек*/
}

@keyframes circle_8{
    0%{            /* від...*/
        left: 50px;
    }
    50%{
        border-radius: 0%;
    }
    100%{              /*...до*/
        left: 300px;

    }
}
.animation_circle_9{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: circle_9;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-direction: alternate; /* не перестрибне, а програє назад, як пінг-понг*/
    animation-fill-mode: forwards; /*анімація зупиниться вкінці свого шляху*/
    
}

@keyframes circle_9{
    0%{            /* від...*/
        left: 50px;
    }
    50%{
        border-radius: 0%;
    }
    100%{              /*...до*/
        left: 300px;

    }
}
.animation_circle_10{
    width: 100px;
    height: 100px;
    border-radius: 50%;/* зробить квадрат колом*/
    background-color: rgb(12, 12, 134);
    position: relative;
    left: 50px;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 20px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: circle_10;   /*вказуємо ім'я майбутньої анімації*/
    animation-duration: 3s;  /*за скільки часу дійде до кінцевої точки 100%*/
    animation-timing-function: linear;
    animation-direction: alternate; /* не перестрибне, а програє назад, як пінг-понг*/
    animation-fill-mode: forwards; /*анімація зупиниться вкінці свого шляху*/
}

@keyframes circle_10{
    0%{            /* від...*/
        left: 50px;
    }
    50%{
        border-radius: 0%;
    }
    100%{              /*...до*/
        left: 300px;
        background-color: aqua;

    }
}