/* обнуляющий css начало*/
*{padding:0 ; margin: 0; border: 0;}
:focus, :active{outline: none; } 
a:focus,:active{ outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%;line-height: 1; font-size: 14px;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;} 
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/* обнуляющий css конец*/
body{
    background-color: #e8e8e8;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
}
.content{
    max-width: 841px;
    margin: auto;   
}
.content_top{
   padding-top: 110px; 
   text-align: center;

}
.content_top_category{
    opacity: 0.6;
    color: #273d46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}
.content_top_title{
    color: #273d46;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 50px;
}
.content_img{
    box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
    background-color: #fff;
    padding: 10px;
    margin-bottom: 97px;
}
.content_bottom_text{
    font-size: 24px;
    line-height: 40px;
    color: #53646b;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 50px;
}
.info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 150px;
    padding-left: 50px;
}

.li:nth-child(1) {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #273d46;
    margin: 12px;
    background-image: url(img/icons/check.png);
    background-repeat: no-repeat;
    padding-left: 35px;
}
.li:nth-child(2) {
    font-style: italic;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #80b7b3;
    margin: 12px;
    background-image: url(img/icons/check.png);
    background-repeat: no-repeat;
    padding-left: 35px;
}
.li:nth-child(3) {
    color: #273d46;
    font-weight: bold;/*700*/
    margin: 12px;
    background-image: url(img/icons/check.png);
    background-repeat: no-repeat;
    padding-left: 35px;
}
.li:nth-child(4) {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    margin: 12px;
    background-image: url(img/icons/check.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-bottom: 50px;
    
}
.li:nth-child(4) span{
    opacity: 0.3;
}

.link{
    height: 54px;
    box-shadow: 0 6px 40px #53646b;
    background-color:#80b7b3;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 20px;
}
.link:hover{
    background-color: #53646b;
}
.link:active{
    position: relative;
    padding-top: 11px;
    padding-bottom: 20px;
    background-color: #273d46;
}